@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto+Mono:ital@1&display=swap');
#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav{
    text-align: center;
}
a{
    text-align: center;
    font-family: 'Roboto Mono','Fira Sans', sans-serif,monospace;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main{
    text-align: center;
}
section{
    text-align: center;
}
body{
    background-color: #687D64;
    font-family: monospace,'Roboto Mono','Fira Sans', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(227, 220, 149);
}
nav a:hover{
    background-color: rgb(166, 168, 103);
    color: black;
}
.book, .join{
    background-color: #A6A867;
    color: #111910;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #A8B7A4;
    color: #111910;
}
.msg{
    background-color: #E1DA8E;
    padding: 35px;
    line-height: 1.5em;
}
footer{
    background-color: #BDC9BA;
    color: #2A2513;
    padding: 25px 50px;
    margin-top: 200px;
}
nav a{
    color: #1A2518;
    text-align: center;
    text-decoration: none;
    padding: 35px;
}
.home-title{
    color: #A6A867;
    font-family: 'Fira Sans','Roboto Mono', sans-serif,monospace;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color: #A6A867;
}
.msg h2{
    color: #514C15;
    font-family: 'Roboto Condensed', sans-serif;
}
.msg p {
    color: #726B1D;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a {
    color: #2A2513;
    text-decoration: none;
}
footer:hover{
    color: #0E0C06;
} 
.icon{
    width: 80px;
    padding-top: 10px;
}  
.logo{
    width: 80px;
}
#hero-img{
    width: 100%;
}
.social{
    width: 80px;
    display: inline;
}
#background {
    height: 725px;
    background-color: #DEE4DD;
}
h2{
    margin: 0;
}
footer .social img{
    padding-top: 15px;
}
#logo_link{
    padding-top: 5px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid black;
}
main section img{
    box-sizing: border-box;
}
.mountains{
    margin-top: 200px;
    margin-bottom: 200px;
}